[user]
	email = galen_winsor@brown.edu
	name = galenwinsor
[pager]
	branch = false
[credentials]
	helper = store
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
